# backend/requirements-dev.txt

# Форматирование и Линтинг
ruff

# Тестирование
pytest
pytest-cov       # Для отчетов о покрытии
pytest-asyncio   # Для твоих FastAPI/asyncio тестов
httpx            # Для тестов API (вместо requests)

# Типизация
mypy
types-aiofiles

# Безопасность
bandit

# Хуки
pre-commit